<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>JwtTokenFilter</filter-name>
        <filter-class>ru.egorov.in.security.JwtTokenFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>JwtTokenFilter</filter-name>
        <url-pattern>/players/*</url-pattern>
    </filter-mapping>
</web-app>